@import url('https://fonts.googleapis.com/css?family=Poppins|Quicksand&display=swap');

body {
    margin: 0;
}

#navbar {

    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    width: 100%;
    /* Full width */
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
}





nav {
    background-color: white;
    /* padding-left: 100; */
    width: 100%;
    /* padding-bottom: 20px; */

}

.navbar a {
    background-color: white;
}

main {
    padding-top: 50px;
    background-color: white;
}



#about {
    background-color: rgb(43, 43, 43);
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 0px 0px 15px 15px;
    transform: translate(-5px, -9px);

    /* margin-right: 50px; */

}

#about h1 {
    color: #20c20e;
    font-family: 'Courier New', Courier, monospace;
}


#about h3 {
    color: #20c20e;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 0.8rem;
}

#about h3 pre {
    color: #20c20e;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 0.8rem;
    font-weight: bold;

}

#about a {
    text-decoration: none;
    color: #20c20e;

    /* color: rgb(49, 174, 231); */
    background-color: rgb(43, 43, 43);
}

#abouth {

    /* padding-bottom: 5px; */
    background-color: silver;
    border-radius: 20px 20px 0 0;
    transform: translate(-5px, 0px);


}

#abouth h1 {
    font-weight: lighter;
    color: #000000a9;
}

pre {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 0.8rem;
}

#aboutMe {
    margin-left: 50px;
    margin-right: 25px;

}

#aboutMe p {
    font-family: 'Quicksand';
    font-size: 1.5rem;
    font-weight: 1;
    letter-spacing: 1px;
    text-align: left;

}

.intro {
    padding-top: 100px;
    padding-bottom: 100px;

}

#projects {
    background-color: whitesmoke;
    padding-top: 100px;
    padding-bottom: 100px;
    /* padding: 20px, 20px, 20px, 20px; */
    /* background-color: white; */
}

#workterms {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: whitesmoke;
}

h1 {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    /* baclground-color: white; */
}

h2 {
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: right;
    /* baclground-color: white; */
}

a .card {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: none;

}

.body img {
    object-fit: cover;
}

.card {
    border-color: black;
}